<!DOCTYPE html>
<html>
<header>
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<style>
	html, body {
	  position:relative;
	  background:url(focus.png);
	}
	.main-form {
	  position:absolute;
	  left:20;
	  top:0;
	  background:white;
	  width:500px;
	  z-index:100;
	  padding:20px;
	  border-left:2px solid black;
	  min-height:100%;
	}
	.control-group {
	  margin-bottom:20px;
	}
	.error-messages.ng-active {
	  background:maroon;
	  color:white;
	  padding:5px;
	  border-radius:5px;
	  margin-top:15px;
	  position:relative;
	}
	.error-messages.ng-active:after {
	  position:absolute;
	  top:-10px;
	  content:"";
	  left:20px;
	  border-style:solid;
	  border-color:transparent transparent maroon;
	  border-width:5px;
	}
	.main-stage {
	  position:fixed;
	  left:0;
	  top:0;
	  bottom:0;
	  width:60%;
	  background:url(./angular-logo.png) no-repeat center center;
	  background-size:80%;
	}
</style>	
</header>
<body>

  <div ng-app="myApp">
	<form name="signup_form"  class="main-form container" ng-submit="signupForm()" novalidate ng-controller="signupController">
		<fieldset>
			<legend>Signup</legend>

			<div class="control-group">
				<div class="large-12 columns">
					<label>Your name</label>
					<input class="form-control" 
					      type="text"
						   placeholder="Name"
						   name="name"
						   ng-model="signup.name"
						   ng-minlength="3"
						   ng-maxlength="20" required />

					<div class="error-messages" ng-if="interacted(signup_form.name)" ng-messages="signup_form.name.$error" ng-messages-multiple>
						<small class="error" ng-message="required">
							Your name is required.
						</small>
						<small class="error" ng-message="minlength">
							Your name is required to be at least 3 characters
						</small>
						<small class="error" ng-message="maxlength">
							Your name cannot be longer than 20 characters
						</small>
					</div>				   
				</div>
				</div>
				<div class="control-group">
					<div class="large-12 columns">
						<label>Your email</label>
						<input  class="form-control" 
						        type="email"
								placeholder="Email"
								name="email"
								ng-model="signup.email"
								ng-minlength="3" ng-maxlength="20" required />
						<div class="error-messages" ng-if="interacted(signup_form.email)" ng-messages="signup_form.email.$error" ng-messages-multiple>
							<small  ng-message="required">
							Your email is required.
							</small>
						<small ng-message="minlength">
							Your email is required to be at least 3 characters
							</small>
						<small ng-message="email">
							That is not a valid email. Please input a valid email.
							</small>
						<small ng-message="maxlength">
							Your email cannot be longer than 20 characters
							</small>
						</div>
					</div>
				</div>

				<div class="control-group">
					<div class="large-12 columns">
						<label>Username</label>
						<input class="form-control" 
						    type="text"
							placeholder="Desired username"
							name="username"
							ng-model="signup.username"
							ng-minlength="3"
							ng-maxlength="20"
							ensure-unique="username" required ng-focus />
						<div class="error-messages" ng-if="interacted(signup_form.username)"  ng-messages="signup_form.username.$error" ng-messages-multiple>
							<small class="error" ng-message="required">
							Please input a username
							</small>
							<small class="error" ng-message="minlength">
							Your username is required to be at least 3 characters
							</small>
							<small class="error" ng-message="maxlength">
							Your username cannot be longer than 20 characters
							</small>
							<small class="error" ng-message="unique">
							That username is taken, please try another
							</small>
						</div>
					</div>

				</div>
			<button type="submit" class="button radius">Submit</button>
		</fieldset>
	</form>
  </div>

<script src="./js/angular.js"></script>
<script type="text/javascript" src="./js/angular-messages.js"></script>
<script>
	angular.module('myApp', ['ngMessages']).controller("signupController",function($scope){
		$scope.submitted = false;

	    $scope.interacted = function(field) {
	      return $scope.submitted || field.$dirty;
    	};
		$scope.signupForm = function(){
			$scope.submitted = true;
		}
	});
	angular.module('myApp').directive('ngFocus', [function() {
		var FOCUS_CLASS = "ng-focused";
		return {
			restrict: 'A',
			require: 'ngModel',
			link: function(scope, element, attrs, ctrl) {
				ctrl.$focused = false;
				element.bind('focus', function(evt) {
					element.addClass(FOCUS_CLASS);
					scope.$apply(function() {
						ctrl.$focused = true;
					});
				}).bind('blur', function(evt) {
					element.removeClass(FOCUS_CLASS);
					scope.$apply(function() {
					ctrl.$focused = false;
					});
				});
			}
		};
	}]);
	angular.module('myApp').directive('ensureUnique', function($http) {
		return {
			require: 'ngModel',
			link: function(scope, ele, attrs, c) {
				scope.$watch(attrs.ngModel, function(n) {
					if (!n) return;
					$http({
						method: 'POST',
							url: '/api/check/' + attrs.ensureUnique,
						data: {
						field: attrs.ensureUnique,
							value: scope.ngModel
						}
					}).success(function(data) {
						c.$setValidity('unique', data.isUnique);
					}).error(function(data) {
						c.$setValidity('unique', false);
					});
				});
			}
		};
	});	
</script>
</body>
</html>